.j{
	
	font-size:18px ;
	font-weight: bold;
	line-height: 35px;
	background-color:#0f7cbf;
	text-indent: 1em;
}
#w{
	list-style: none;
	font-size: 12px;
	line-height: 20px;
	color: #666666;
}
.r{
	font-size:14px ;
	font-weight: bold;
	line-height: 30px;
	background-color: #e4f1fa;
	color:#0f7cbf ;
}
a:hover{
	color:#F60 ;
	text-decoration:underline;
	
}
a{
	text-decoration: none;
}


